<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">Edit <%=campground.title%></h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="PUT"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%=campground.title%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%=campground.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="price" class="from-label">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            id="price"
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%= campground.price %>"
            required
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="from-label">Description</label>
        <textarea
          name="campground[description]"
          id="description"
          class="form-control"
          type="text"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Add Images</label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-inner">
          <% campground.images.forEach((img,i) => { %>
              <div class="carousel-item <%= i===0 ? "active" : "" %>  position-relative">
              <img src="<%=img.url%>" alt="" class="d-block w-100">
              <div class="form-check-inline btn-group position-absolute top-0 end-0">
                <input type="checkbox" class="btn-check "   id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                <label for="image-<%=i%>" class="btn btn-outline-danger" ><i class="bi bi-trash"> <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                  />
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                  />
                </svg></i></label>
              </div>
              </div>
            <% }) %>
          </div>
            <% if(campground.images.length >1) {%>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Update Campground</button>
      </div>
    </form>
    <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>"
      >Back To Campground</a
    >
  </div>
</div>
